/*type selectors*/
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

header{
  margin: 0;
  padding-bottom: 50px;
  text-align: center;
  background-color: #DCC7AA;
  color: white;
  border-bottom: solid black 2px;
}

h1{
  padding-top: 20px;
  font-size: 50px;
}

h3{
  font-size: 25px;
  color: white;
}

p{
  font-size: 17px;
  color: white;
}

li{
  display: inline;
  padding: 0 50px 0 50px
}

footer{
  background-color: #DCC7AA;
}

/* Classes */
.Intro-content{
  text-align: center;
  font-size: 17px;
  padding-bottom: 15px;
  border-bottom: solid black 2px;
  margin-bottom: 15px;
}

/* background color is a placeholder until
the image takes up the whole screen
after the image takes up the whole div change text color */
.Primary-content{
  text-align: center;
  border: solid black 3px;
  border-radius: 25px;
  margin: auto;
  width: 75%;
  margin-bottom: 10px;
  max-width: 960px;
}

.CombatEvolvedColor{
  background-color: #6B7A8F;
}

.GuardiansColor{
  background-color: #f7882f;
}

.InfiniteColor{
  background-color: #F7C331;
}


/*pseudo-code*/
a:link{
  color: #597859;
  text-decoration: none;
}


/* ID's */
#Header-subtext{
  font-size: 21px;
}
